html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

main {
    max-height: var(--size-100vh);
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: var(--font-family);
}