/* 

    left section 
    
*/

#aboutMe {
    max-height: 80%;
    width: 45%;
    border: 1px solid rgb(96,95,93);
    border-radius: 15px;
    margin: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--black);
}

#aboutMe:hover {
    border-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);
    transform: scale(0.95);
}

/* section headline */

h1 {
    display: flex;
    justify-content: center;
}

h1::before {
    content: "Kadir Kahraman";
}

h1:hover::before {
    content: attr(data-hover);
    color: var(--text);
}

/* section photo text */

.photoTextSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    height: 200px;
    width: 148px;
    border: 2px solid var(--scrollbar-color);
    border-radius: 25px;
}

h2 {
    margin-bottom: 0;
}

h2::before {
    content: "Über mich";
}

h2:hover::before {
    content: attr(data-hover);
    color: var(--text);
}

.text {
    margin: 10px 20px 20px 20px ;
}

/* section kurzfassung */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    margin-bottom: 0;
}

h3 span:hover {
    color: yellow;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.pSatz {
    margin: 10px;
}

/* section cards */

.cardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

.card {
    height: 180px;
    width: 300px;
    border: 2px solid yellow;
    border-radius: 25px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow .prev:hover img{
    content: url(../assets/icons/circleLeftHover.svg);
}

.arrow .next:hover img{
    content: url(../assets/icons/circleRightHover.svg);
}

/* section download cv file button */

.cvButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    height: 48px;
    width: 48px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.file {
    height: 48px;
    width: 48px;
}

.cvButton button:hover .file {
    content: url(../assets/icons/fileDownHover.svg);
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* section links */

.linksSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}

a {
    height: 48px;
    width: 48px;
    border-radius: 25px;
}

.icon {
   height: 48px;
   width: 48px; 
}

.linksSection a:hover .gitHub {
    content: url(../assets/icons/githubHover.svg);
}

.linksSection a:hover .linkedIn {
    content: url(../assets/icons/linkedinHover.svg);
}

/* 

    right section 
    
*/

#explore {
    max-height: 80%;
    width: 45%;
    border: 1px solid rgb(96,95,93);
    border-radius: 15px;
    margin: 10px;
}